<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Emergency Numbers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="background-color: white;">
		<ion-card-content>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			<ion-list>
          <ion-item *ngFor="let data of emergencyNumber">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h1>{{data.name}}</h1>
              </ion-text>
              <ion-card *ngFor="let list of data.data" style="background-color: white; margin-bottom: 0px;"> 
                <ion-card-subtitle><ion-icon name="phone-portrait-outline"></ion-icon> {{list.name}} : {{list.number}}</ion-card-subtitle>
              </ion-card>
              <!-- <p>Paragraph line 1</p>
              <ion-text color="secondary">
                <p>Paragraph line 2 secondary</p>
              </ion-text> -->
            </ion-label>
            
          </ion-item>
				<!-- <ion-item *ngFor="let data of emergencyNumber">
					{{data.name}}
					<ion-card *ngFor="let list of data.data"> 
						<p><ion-icon name="md-phone-portrait"></ion-icon> {{list.name}} : {{list.number}}</p>
					</ion-card>
				</ion-item>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p> -->
      </ion-list>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
		</ion-card-content>
	</ion-card>

</ion-content>