<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-button (click)="back()">
		  <ion-icon name="arrow-back" color="primary"></ion-icon>
		</ion-button>
		</ion-buttons>
	  <ion-buttons slot="end">
		<ion-button (click)="home()">
		  <ion-icon name="home" color="secondary"></ion-icon>
		</ion-button>
	  </ion-buttons>
	  <ion-title color="secondary">Maintenance</ion-title>
	  </ion-toolbar>
	</ion-header>

<ion-content>
	<ion-card *ngFor="let annoucement of maintenanceAnnouncement" style="background-color: white;">
		<ion-card-header>
			<strong>{{annoucement.title}}</strong>
		</ion-card-header>
		<ion-card-content>
			{{annoucement.description}}

		</ion-card-content>

		<ion-row>
			<ion-col padding>
				<ion-note style="margin-left: 10px;">
					<ion-icon name="calendar"></ion-icon>
					{{annoucement.inserted_date | date:'dd MMM yy, H:mm:ss'}}
				</ion-note>
			</ion-col>
			<ion-col class="ion-text-end">
				<button ion-button color="secondary" clear small icon-end>
					<ion-icon name="warning" color="primary"></ion-icon>
				</button>
      </ion-col>
		  <ion-col size="12"></ion-col>
		</ion-row>
	</ion-card>
	<div *ngIf="maintenanceAnnouncement?.length === 0" class="center-messages">
      <!-- <button ion-button color="primary" clear small icon-end>No maintenance available</button> -->
      <ion-card-subtitle color="primary" class="ion-text-center" class="empty-notice">No maintenance announcement available</ion-card-subtitle>
	  </div>
</ion-content>