<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left:-10px;" color="secondary">Invoice</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card *ngFor="let book of invoice" style="background-color: white; margin:0px;">
      <ion-card-header>
        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle color="primary"><strong>{{book.date | date:'d MMM, y'}}</strong></ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-right" size="6">
            <ion-card-subtitle color="primary"><strong>Rp. {{book.subtotal | number:'1.0-0' }}</strong></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <ion-card *ngFor="let list of book.value" color="primary">
              <ion-card-content class="response">
                <p>{{list.invoice_name}} - {{list.invoice_no}}</p>
                <p>Total : <strong>Rp.{{list.total | number:'1.0-0'}}</strong></p>
                <p class="ion-text-right">{{list.date | date:'h:mm a'}}</p>
  
                <ion-row>
                  <ion-col size="6">
                    <button (click)="openmodal(list)" style="background-color: Transparent;">
                      <ion-icon name="search" style="color: white;"></ion-icon>
                    </button>
                    <button (click)="download()" style="background-color: Transparent;">
                      <ion-icon name="cloud-download" style="color: white;"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col size="6" text-right>
                    &nbsp;
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
  
      </ion-card-content>
  
      <ion-row>
        <ion-col size="6">&nbsp;</ion-col>
        <ion-col size="6" class="ion-text-right">
          <p color="primary">Total invoice : {{book.value?.length}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <div *ngIf="invoice?.length === 0" class="center-messages">
      <ion-card-subtitle color="primary" class="ion-text-center" class="empty-notice">No invoice available</ion-card-subtitle>
    </div>
  </ion-content>
  
