<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="scroll-content">
     <ion-card class="card-bg">
      <form class="list-form" [formGroup]="resetPasswordForm" (ngSubmit)="changePass()">
        <ion-grid class="form-grid">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label color="secondary" stacked>Change password Form</ion-label>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
              <ion-label color="primary" stacked>Old Password</ion-label>
              <ion-input type="password" placeholder="Type your old Password here" formControlName="prevPassword"></ion-input>
              <sub *ngIf="f.prevPassword.errors" style="color: red; margin-left: 10px; margin-top: 10px;">
                <label *ngIf="f.prevPassword.errors.required"> Please insert your old password.</label>
              </sub>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
              <ion-label color="primary" stacked>New Password</ion-label>
              <ion-input type="password" placeholder="Type your new password here" formControlName="newPassword"></ion-input>
              <sub *ngIf="f.newPassword.errors" style="color: red; margin-left: 10px;">
                <label *ngIf="f.newPassword.errors.required"> Please insert your new password.</label>
              </sub>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
              <ion-label color="primary" stacked>Confirmation Password</ion-label>
              <ion-input type="password" placeholder="Type your confirmation password here" formControlName="confirmPassword"></ion-input>
              <sub *ngIf="f.confirmPassword.errors" style="color: red; margin-left: 10px;">
                <label *ngIf="f.confirmPassword.errors.required"> Please insert your confimation password.</label>
                <label *ngIf="f.confirmPassword.errors?.confirmed"> Your confirmation password is different.</label>
              </sub>
            </ion-col>
            
            <ion-col size="12">
              <ion-button color="primary" expand="full" type="submit" [disabled]="resetPasswordForm.invalid">
                Change Password
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
     </ion-card>
   </div>
 </div>
</ion-content>