<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Service Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="scroll-content" style="margin-top: 5px;">
		<ion-grid>
			<ion-row *ngFor="let menu of menus">
				<ion-col size="6" *ngFor="let m_key of menu.col" (click)="goToPage(m_key.page)">
					<div class="card-background-page custom-card">
						<ion-card class="card-bg">
							<img [src]="'assets/buttons/'+m_key.img" style="width:100%">
						</ion-card>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
