<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Security</ion-title>
    </ion-toolbar>
    <ion-segment color="secondary" style="background-color: white;" [(ngModel)]="security">
      <ion-segment-button value="messages">
        Messages
      </ion-segment-button>
      <ion-segment-button value="response">
        Response
      </ion-segment-button>
    </ion-segment>
  </ion-header>

  <ion-content>
    <div [ngSwitch]="security">
      <div *ngSwitchCase="'messages'">
        <div class="card-background-page">
          <div class="scroll-content">
            <ion-card style="background-color: white;">
              <form class="list-form" [formGroup]="Form" (ngSubmit)="process()">
                <ion-grid class="form-grid">
                  <ion-row>
                    <ion-col size="12" class="ion-text-center">
                      <ion-label color="secondary" stacked>Security Form</ion-label>
                    </ion-col>
                    <ion-col size="12" class="ion-text-left col-input">
                      <ion-label color="primary" stacked>From</ion-label>
                      <ion-input type="text" readonly placeholder="messages to" value="{{tenant_name}}"></ion-input>
                    </ion-col>
                    <ion-col size="12" class="ion-text-left col-input">
                      <ion-label color="primary" stacked>Messages</ion-label>
                      <ion-textarea placeholder="Please input messages here" formControlName="messages"></ion-textarea>
                    </ion-col>
                    <!-- <ion-col size="12" class="ion-text-left">
                      <button ion-button full [disabled]="Form.invalid" >Submit</button>
                    </ion-col> -->
                    <ion-col size="12">
                      <ion-button color="primary" expand="full" type="submit" [disabled]="Form.invalid">
                        Submit
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            </ion-card>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'response'">
        <ion-card *ngFor="let res of response" style="background-color: white;">
          <div *ngIf="res.admin_id === null">
            <ion-card-header class="ion-text-end">
              <sub>{{res.response_name}}</sub>
            </ion-card-header>
            <ion-card-content class="ion-text-end">
              {{res.messages}}
            </ion-card-content>
            <ion-row class="ion-text-end">
              <ion-col style="margin-right: 10px;">
                <sub>
                  <ion-icon name="calendar"></ion-icon>
                  {{res.date_inserted | date:'dd MMM yy, H:mm'}}
                </sub>
              </ion-col>
              <ion-col size="12"></ion-col>
            </ion-row>
          </div>
          <div *ngIf="res.admin_id !== null">
            <ion-card-header class="ion-text-left" class="response">
              <sub>{{res.response_name}}</sub>
            </ion-card-header>
            <ion-card-content class="ion-text-left" class="response">
              <p>{{res.messages}}</p>
            </ion-card-content>
            <ion-row class="ion-text-left" class="response">
              <ion-col style="margin-left:10px;">
                <sub>
                  <ion-icon name="calendar"></ion-icon>
                  {{res.date_inserted | date:'dd MMM yy, H:mm'}}
                </sub>
              </ion-col>
              <ion-col size="12"></ion-col>
            </ion-row>
          </div>
        </ion-card>
        <div *ngIf="response?.length === 0" class="center-messages">
          <button ion-button color="primary" clear small icon-end>No receptionist response available</button>
        </div>
      </div>
    </div>
  </ion-content>