<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Public Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="scroll-content" style="margin-top: 5px;">
      <ion-card class="card-bg" *ngFor="let slide of slider" (click)="show(slide.description, slide.image_full)" style="box-shadow: none !important;">
        <img *ngIf="slide.description !== 'Panic Button'" [src]="slide.image" style="width: 100%;">
        <div class="card-title"></div>
        <div class="card-subtitle"></div>
      </ion-card>
      <div *ngIf="slider?.length === 0" class="center-messages">
        <ion-card-subtitle color="primary" class="ion-text-center" class="empty-notice">No Public Service advertisement available</ion-card-subtitle>
      </div>
    </div>
  </div>
</ion-content>
