<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Dispute</ion-title>
    </ion-toolbar>
    <ion-segment color="secondary" style="background-color: white;" [(ngModel)]="payment_toolbar">
      <ion-segment-button value="invoice">
        <ion-label>Invoice</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dispute">
        <ion-label>Dispute</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>

<ion-content>
  <div [ngSwitch]="payment_toolbar">
    <div *ngSwitchCase="'invoice'">
      <ion-card *ngFor="let out of invoice_list" style="background-color: white;">
        <ion-card-header (click)="viewinvoice(out.id)">
          <label color="secondary" style="font-weight: bold;">Invoice : {{out.invoice_no}} </label>
        </ion-card-header>
        <ion-card-content>
          <sub style="color: black;">
            {{out.invoice_name}}
          </sub>
        </ion-card-content>

        <ion-row >
          <ion-col padding col-6>
            <ion-note style="margin-right:10px;">
              <sub style="margin-left: 10px;">
                <ion-icon name="calendar"></ion-icon>
                {{out.date | date:'d MMM, y, h:mm a'}}
              </sub>
            </ion-note>
          </ion-col>

          <ion-col text-right col-6>
            <div style="padding: 5px; text-align: right;">
              <button *ngIf="out.status == 1">
                <ion-icon name="checkmark-done-outline" color="primary"></ion-icon>
              </button>
              <button *ngIf="out.status == 2">
                <ion-icon name="checkmark-done-circle-outline" color="primary"></ion-icon>
              </button>
              <button (click)="dispute(out.id)">
                <ion-icon name="ellipsis-horizontal-outline" color="primary"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngIf="invoice_list?.length === 0" class="center-messages">
      <label color="primary" >No invoice available</label>
    </div>
    <div *ngSwitchCase="'dispute'">
      <ion-card *ngFor="let out of dispute_list" style="background-color: white;">
        <ion-card-header (click)="viewinvoice(out.id)">
          <ion-card-subtitle style="color: red;">{{out.dispute_name}}</ion-card-subtitle>
          <ion-card-subtitle style="color: black;">Invoice : {{out.invoice_no}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <sub>
            {{out.invoice_name}}
          </sub>
        </ion-card-content>

        <ion-row >
          <ion-col size="6" style="padding:10px;">
            <ion-note style="margin-left:10px">
              <small>
                <ion-icon name="calendar"></ion-icon>
                {{out.date | date:'d MMM, y, h:mm a'}}
              </small>
            </ion-note>
          </ion-col>

          <ion-col text-right size="6">
            <div style="padding: 5px;">
              <!-- <button *ngIf="out.status == 1" ion-button color="primary" clear small icon-end>
                <ion-icon name="checkmark"></ion-icon>
              </button>
              <button *ngIf="out.status == null" (click)="dispute(out.id)" ion-button color="primary" clear small icon-end>
                <ion-icon name="more"></ion-icon>
              </button> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-card>

       <div *ngIf="dispute_list?.length === 0" class="center-messages">
        <button ion-button color="primary" clear small icon-end>No dispute available</button>
      </div>
    </div>
  </div>
</ion-content>
