<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Business Tenants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let data of businessTenant" style="background-color: white;">
	  <ion-card-content>
	    	<img :src="{{data.image}}">
			<div class="card-title">{{data.name}}</div>
			<div class="card-subtitle">{{data.description}}</div>
	  </ion-card-content>
	</ion-card>
</ion-content>
