<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Complaint</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="card-background-page">
      <div class="scroll-content">
       <ion-card style="background-color: white;">
        <form class="list-form" [formGroup]="Form" (ngSubmit)="process()">
          <ion-grid class="form-grid">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-label color="secondary" stacked>Complaint Form</ion-label>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" stacked>From</ion-label>
          <ion-input type="text" readonly placeholder="messages to" formControlName="type" value="{{tenant_name}}"></ion-input>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                   <ion-label color="primary" stacked>Select Complaint Type</ion-label>
              <ion-select formControlName="type" placeholder="complaint type">
            <ion-select-option *ngFor="let type of service_type" value="{{type.id}}">{{type.name}}</ion-select-option>
          </ion-select>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                  <ion-label color="primary" stacked>Messages</ion-label>
          <ion-textarea formControlName="messages" placeholder="Please input messages here"></ion-textarea>
              </ion-col>
              <!-- <ion-col size="12" class="ion-text-start col-input">
                <button ion-button full [disabled]="Form.invalid" >Submit</button>
              </ion-col> -->
              <ion-col size="12">
                <ion-button color="primary" expand="full" type="submit" [disabled]="Form.invalid">
                  Submit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
       </ion-card>
     </div>
   </div>
  </ion-content>
  
