<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Building management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="background-color: white;">
		<ion-card-content *ngFor="let data of buildingManagement">
			<h3>{{data.title}}</h3>
			<img style="width: 100%;" :src={{data.image}}>
			<p>{{data.description}}</p>
		</ion-card-content>
	</ion-card>
</ion-content>

