<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary"> Schedule</ion-title>
    </ion-toolbar>
    <ion-segment color="secondary" style="background-color: white;" [(ngModel)]="facilityPayment">
      <ion-segment [(ngModel)]="facility">
        <ion-segment-button value="booking">
          Facility Booking
        </ion-segment-button>
        <ion-segment-button value="order">
          Facility Order
        </ion-segment-button>
      </ion-segment>
    </ion-segment>
  </ion-header>

  <ion-content>
    <div [ngSwitch]="facility">
      <div *ngSwitchCase="'booking'">
        <ion-card *ngFor="let book of booking" class="card-bg">
				<ion-card-header>
					<ion-card-subtitle ion-text color="primary"><strong>{{book.date | date:'d MMM, y'}}</strong></ion-card-subtitle>
				</ion-card-header>
				<ion-card-content>
					<ion-row>
						<ion-col col-12>
							<ion-card *ngFor="let list of book.value" color="primary" style="margin:0px;">
								<ion-card-content class="response">
									<p>{{list.facility_name}}</p>
									<p style="text-align: right;">{{list.tenant_name}}</p>
									<p style="text-align: right;">{{list.date | date:'h:mm a'}}</p>
								</ion-card-content>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-card-content>
				<ion-row>
					<ion-col size="6">&nbsp;</ion-col>
					<ion-col class="ion-text-end" size="6">
						<ion-card-subtitle color="primary">Total booking : {{book.value?.length}}</ion-card-subtitle>
					</ion-col>
        </ion-row>
      </ion-card>
      <div *ngIf="booking?.length === 0" class="center-messages">
          <ion-card-subtitle color="primary" class="ion-text-center" class="empty-notice">No Booking available</ion-card-subtitle>
      </div>
      </div>
      <div *ngSwitchCase="'order'">
        <ion-card *ngFor="let book of order" class="card-bg">
          <ion-card-header>
            <ion-card-subtitle ion-text color="primary"><strong>{{book.date | date:'d MMM, y'}}</strong></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-card *ngFor="let list of book.value" color="primary">
                  <ion-card-content class="response">
                    <p>{{list.facility_name}}</p>
                    <p style="text-align: right;">{{list.tenant_name}}</p>
                    <p style="text-align: right;">{{list.date | date:'h:mm a'}}</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-row>
            <ion-col size="6">&nbsp;</ion-col>
            <ion-col class="ion-text-end" size="6">
              <ion-card-subtitle color="primary">Total booking : {{book.value?.length}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-card>
  
        <div *ngIf="order?.length === 0" class="center-messages">
          <ion-card-subtitle color="primary" class="ion-text-center" class="empty-notice">No Order available</ion-card-subtitle>
        </div>
      </div>
    </div>
  </ion-content>
