<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Conformation Payment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="scroll-content">
     <ion-card style="background-color: white;">
      <form class="list-form" [formGroup]="paymentForm" (ngSubmit)="paymentProcess()">
        <ion-grid class="form-grid">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label color="secondary" stacked>Process Payment Form</ion-label>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
              	<ion-label color="primary" stacked>Bank Account Name</ion-label>
				        <ion-input type="text" placeholder="Bank Account Name" formControlName="bank_account_name"></ion-input>
	            <sub *ngIf="f.bank_account_name.errors && f.bank_account_name.errors.required" style="color: red; margin-left: 10px;" padding>
					<label *ngIf="f.bank_account_name.errors.required"> Please insert your bank account name.</label>
				</sub>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" stacked>Bank Account Number</ion-label>
				<ion-input type="text" placeholder="Bank Account Number" formControlName="bank_account_number"></ion-input>
				<sub *ngIf="f.bank_account_number.errors && f.bank_account_number.errors.required" style="color: red; margin-left: 10px;" padding>
					<label *ngIf="f.bank_account_number.errors.required"> Please insert your bank account number.</label>
				</sub>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" stacked>Amount</ion-label>
				<ion-input type="text" placeholder="Amount" formControlName="amount"></ion-input>
				<sub *ngIf="f.amount.errors && f.amount.errors.required" style="color: red; margin-left: 10px;" padding>
					<label *ngIf="f.amount.errors.required"> Please insert your amount.</label>
				</sub>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
            	<ion-label color="primary" stacked>Payment Date</ion-label>
				<ion-datetime displayFormat="DD/MMM/YYYY HH:mm" doneText="Ok" formControlName="payment_date"></ion-datetime>
				<sub *ngIf="f.payment_date.errors && f.payment_date.errors.required" style="color: red; margin-left: 10px;" padding>
					<label *ngIf="f.payment_date.errors.required"> Please insert your payment date.</label>
				</sub>
            </ion-col>
            <ion-col size="12" class="ion-text-start col-input">
            	<ion-input type="hidden" formControlName="images" value="{{myPhoto}}"></ion-input>
				<ion-item>
					<button type="button" ion-button (click)="takePhoto()">
					<ion-icon name="camera"></ion-icon>
					</button>
					<br/>
					<ion-thumbnail>
						<img *ngIf="myPhoto" [src]="myPhoto">
					</ion-thumbnail>
				</ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-button color="primary" expand="full" type="submit" [disabled]="paymentForm.invalid">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
     </ion-card>
   </div>
 </div>
</ion-content>