<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Emergency Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="report">
    <div *ngSwitchCase="'messages'">
      <div class="card-background-page">
      <div class="scroll-content">
       <ion-card style="background-color: white;">
        <form class="list-form" [formGroup]="Form" (ngSubmit)="process()">
        <ion-grid class="form-grid">
          <ion-row>
          <ion-col size="12" class="ion-text-center" >
            <ion-label color="secondary" stacked>Receptionist Form</ion-label>
          </ion-col>
          <ion-col size="12" class="ion-text-left col-input">
            <ion-label color="primary" stacked>From</ion-label>
            <ion-input type="text" readonly placeholder="messages from" value="{{tenant_name}}"></ion-input>
          </ion-col>
          <ion-col size="12" class="ion-text-left col-input">
            <ion-label color="primary" stacked>Title</ion-label>
            <ion-input type="text" placeholder="Please input title here" formControlName="title"></ion-input>
          </ion-col>
          <ion-col size="12" class="ion-text-left col-input">
            <ion-label color="primary" stacked>Messages</ion-label>
            <ion-textarea placeholder="Please input messages Here" formControlName="messages"></ion-textarea>
          </ion-col>
          <ion-col size="12">
            <ion-button color="primary" expand="full" type="submit" [disabled]="Form.invalid">
              Submit
            </ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>
        </form>
       </ion-card>
       </div>
     </div>
    </div>
    <ion-list *ngSwitchCase="'response'">
      <ion-card *ngFor="let res of response">
        <ion-card-header>
          <h3 ion-text color="primary"><strong>{{res.title}}</strong></h3>
        </ion-card-header>
        <ion-card-content>
          <sub>
          {{res.report}}
          </sub>
        </ion-card-content>
  
        <ion-row>
              <ion-col padding col-6>
                <ion-note style="margin-right:10px;">
                    <sub>
                      <ion-icon name="calendar"></ion-icon>
                      {{ res.date_inserted | date:'dd MMM yy, H:mm:ss'}}
                  </sub>
                </ion-note>
              </ion-col>
  
              <ion-col text-right col-6>
                <div style="padding: 5px;" clear small icon-end>
                  <div class="report_status" color="secondary">
            <small>{{res.name}}</small>
                  </div>
                </div>
              </ion-col>
            </ion-row>
      </ion-card>
      <div *ngIf="response?.length === 0" class="center-messages">
          <button ion-button color="primary" clear small icon-end>No Response available</button>
      </div>
    </ion-list>
  </div>
  </ion-content>