<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="back()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Guest</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let guest of guessList" style="background-color: white;">
      <ion-card-header>
        {{guest.guest_name}}
      </ion-card-header>
      <ion-card-content>
        {{guest.guest_notes}}<br/>
        <div *ngIf="guest.action == 0">
          <ion-button color="primary" (click)="accept(guest.id)">Accept</ion-button>
          <ion-button color="danger" (click)="reject(guest.id)">Reject</ion-button>
        </div>
        <div *ngIf="guest.action == 2">
          <ion-button color="danger" size="small" >Rejected</ion-button>
        </div>
        <div *ngIf="guest.action == 1">
          <button small ion-button color="primary">Accepted</button>
        </div>
      </ion-card-content>
  
      <ion-row>
        <ion-col size="12">
          <ion-note style="margin-left: 10px;">
            <ion-icon name="calendar"></ion-icon>
            {{'2018-09-14 12:34:21' | date:'dd MMM yy, H:mm:ss'}}
          </ion-note>
        </ion-col>
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-card>
    <div *ngIf="guessList?.length === 0" class="center-messages">
        <button ion-button color="primary" clear small icon-end>No Guest available</button>
      </div>
  </ion-content>