<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: 10px;" color="secondary">View Invoice Detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: white;">
    <ion-card-header>
      <img src="/assets/nct_logo.png" style="width: 40px; position: absolute;">
        
			<ion-card-subtitle class="ion-text-end">Invoice no</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-end">{{invoice_no}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

			<dl style="list-style: none;font-size: 1.1rem;color:#8e9093;">
				<ion-card-subtitle>Bill To:</ion-card-subtitle>
				<ion-card-subtitle>{{name}}</ion-card-subtitle>
				<ion-card-subtitle style="width: 150px;">{{address}}</ion-card-subtitle>
			</dl>
      <ion-grid style="background-color: #f7f7f7;">
          <ion-row *ngFor="let list of listitem; let i = index">
            <ion-col>{{list.item}}</ion-col>
            <ion-col size="2">Rp</ion-col>
            <ion-col size="3" class="ion-text-end">{{list.price | number:'1.0-0'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7" class="ion-text-end">Tax</ion-col>
            <ion-col size="2">Rp</ion-col>
            <ion-col size="3" class="ion-text-end">{{tax | number:'1.0-0'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7" class="ion-text-end"><strong>Total</strong></ion-col>
            <ion-col size="2">Rp</ion-col>
            <ion-col size="3" class="ion-text-end"><strong>{{total | number:'1.0-0'}}</strong></ion-col>
          </ion-row>
        
      </ion-grid>
		</ion-card-content>
  </ion-card>
	<!-- <ion-card *ngIf="showcontent" style="background-color: white;">
		<ion-card-header>
			<ion-item>
				<img src="/assets/nct_logo.png" style="width: 40px; position: absolute;">
				<label class="ion-text-right" style="font-size: 1rem;">Invoice No</label>
				<label class="ion-text-right" style="font-size: 1rem;font-weight: bold;">{{invoice_no}}</label>
			</ion-item>
		</ion-card-header>
		<ion-card-content>

			<dl style="list-style: none;font-size: 1.1rem;color:#8e9093;">
				<li>Bill To:</li>
				<li>{{name}}</li>
				<li style="width: 150px;">{{address}}</li>
			</dl>
					<ion-grid>
						<ion-item-divider style="padding-left: 1px;" *ngIf="listitem">
							<ion-row *ngFor="let list of listitem; let i = index">
								<ion-col col-8 text-wrap>{{list.item}}</ion-col>
								<ion-col col-1>Rp</ion-col>
								<ion-col col-3 text-right>{{list.price | number:'1.0-0'}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-8 text-right>Tax</ion-col>
								<ion-col col-1>Rp</ion-col>
								<ion-col col-3 text-right>{{tax | number:'1.0-0'}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-8 text-right><strong>Total</strong></ion-col>
								<ion-col col-1>Rp</ion-col>
								<ion-col col-3 text-right><strong>{{total | number:'1.0-0'}}</strong></ion-col>
							</ion-row>
						</ion-item-divider>
					</ion-grid>
		</ion-card-content>
	</ion-card> -->
</ion-content>
