<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
	</ion-buttons>
	<ion-buttons slot="end">
		<ion-button (click)="home()">
		  <ion-icon name="home" color="secondary"></ion-icon>
		</ion-button>
	  </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">General</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
	<ion-card *ngFor="let annoucement of generalAnnouncement" style="background-color: white;"> 
		<ion-card-header>
      <strong>{{annoucement.title}}</strong>
		</ion-card-header>
		<ion-card-content>
			<ion-card-subtitle>{{annoucement.description}}</ion-card-subtitle>
		</ion-card-content>

		<ion-row>
			<ion-col padding size="12">
				<ion-note style="margin-left: 10px; color:#b8b8b8;">
					<ion-icon name="calendar"></ion-icon>
					{{annoucement.inserted_date | date:'dd MMM yy, H:mm:ss'}}
				</ion-note>
      </ion-col>
      <ion-col size="12"></ion-col>
		</ion-row>
	</ion-card>
	<div *ngIf="generalAnnouncement?.length === 0" class="center-messages">
    <ion-card-subtitle color="primary" class="ion-text-center" class="empty-notice">No general announcement available</ion-card-subtitle>
	  </div>
</ion-content>