<ion-content [fullscreen]='true' class="app-content-bg">
  <div class="logo">
    <img src="assets/img/ntc-logo.png" width="110px" style="margin-top:35px;margin-left: 20px;" class="left"/>
    <img src="assets/img/waskita.png" width="108px" style="margin:15px;" class="right"/>
  </div>
  
  
  <div class="form-content">
    <h4 style="color:#fff;font-weight: 200; font-size: 18px;">Login with</h4>
    <form class="list-form" [formGroup]="loginForm" (ngSubmit)="logForm()">
      <ion-list class="app-form">
        <ion-item class="kolom-input" lines="full">
          <ion-icon name="mail" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Please input email here" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="kolom-input" lines="none">
          <ion-icon name="lock-closed" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="password" placeholder="Please input password here" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
      <p class="ion-text-right" (click)="forgotPassword()">Forgot Password?</p>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
    <ion-fab-button (click)="goTo('register')">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toolbar class="toolbar-transparent">
    <ion-button color="primary" expand="full" type="submit" [disabled]="!loginForm.valid" (click)="logForm()">
      <ion-icon name="log-in-outline"></ion-icon>&nbsp;
      Login
    </ion-button>
  </ion-toolbar>
</ion-footer>