<ion-content [fullscreen]='true' class="app-content-bg">
  <div class="logo">
    <img src="assets/img/ntc-logo.png" width="110px" style="margin-top:35px;margin-left: 20px;" class="left"/>
    <img src="assets/img/waskita.png" width="108px" style="margin:15px;" class="right"/>
  </div>
  <div class="form-content">
    <h4 style="color:#fff;font-weight: 200; font-size: 18px;">Register</h4>
    <form class="list-form" [formGroup]="registerForm" (ngSubmit)="registerTenant()">
      <ion-list class="app-form" no-margin>
        <ion-item class="kolom-input">
          <ion-icon name="person" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="text" placeholder="IPL" formControlName="username"></ion-input>
        </ion-item>
        <ion-item class="kolom-input">
          <ion-icon name="person" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class="kolom-input">
          <ion-icon name="mail" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="kolom-input">
          <ion-icon name="call" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="tel" placeholder="Phone" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item class="kolom-input">
          <ion-icon name="phone-portrait-outline" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="tel" placeholder="Handphone" formControlName="handphone"></ion-input>
        </ion-item>

        <ion-item class="kolom-input" lines="none">
          <ion-icon name="home" style="margin-right: 20px;" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
        </ion-item>
      </ion-list>
      <p class="ion-text-right" (click)="goTo('login')" style="margin-right: 10px;">Back to login</p>
    </form>

    <!-- <ion-card class="form-content" style="margin-top: -10px;">
      <ion-card-content style="padding: 10px" style="text-align: left;">      
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar-transparent">
    <ion-button color="primary" (click)="registerTenant()" expand="full" type="submit" [disabled]="!registerForm.valid">
      <ion-icon name="log-in-outline"></ion-icon>&nbsp;
      Register
    </ion-button>
  </ion-toolbar>
</ion-footer>