<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">{{name}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-card style="background-color: white;">
      <ion-card-content>
        <img style="height: 150px;width: 100%;" :src="{{images}}">
        <div padding>
          <ion-segment [(ngModel)]="foodNavDetail">
            <ion-segment-button value="menu">
              Menu
            </ion-segment-button>
            <ion-segment-button value="listorder">
              List Order
            </ion-segment-button>
          </ion-segment>
        </div>
        <div [ngSwitch]="foodNavDetail">
          <div *ngSwitchCase="'menu'">
            <!-- <ion-item *ngFor="let menu of listMenu; let i = index;" style="--background: transparent;">
              <p style="position:absolute;">{{menu.name}}</p>
              <p style="text-align: right;">{{menu.amount | currency:'Rp. ':'IDR'}}</p>
              <div class="text-align:right;">
                <button *ngIf="menu.qty > 0" ion-button (click)="min(menu.id, i)"><ion-icon name="md-remove-circle"></ion-icon></button>
                <label *ngIf="menu.qty > 0">{{menu.qty}}</label>
                <button ion-button (click)="plus(menu.id, i)"><ion-icon name="md-add-circle"></ion-icon></button>
              </div>
            </ion-item> -->
            <ion-list style="background-color: white;">
              <ion-item *ngFor="let menu of listMenu; let i = index;" lines="none" style="--background: white;">
                  <ion-label class="ion-text-start">
                    <ion-card-subtitle style="vertical-align: text-top;">{{menu.name}}</ion-card-subtitle>
                  </ion-label>
                  <ion-text class="ion-text-end" style="margin-top:22px;">
                    <ion-card-subtitle>{{menu.amount | currency:'Rp. ':'IDR'}}</ion-card-subtitle>
                    <div class="text-align:right;">
                      <button style="background-color: #c33455; border-radius: 5px; padding:5px;" *ngIf="menu.qty > 0" (click)="min(menu.id, i)"><ion-icon style="color:white" name="remove-circle-outline"></ion-icon></button>
                      <label *ngIf="menu.qty > 0">&nbsp;{{menu.qty}}&nbsp;</label>
                      <button style="background-color: #c33455; border-radius: 5px; padding:5px;" (click)="plus(menu.id, i)"><ion-icon style="color:white" name="add-circle-outline"></ion-icon></button>
                    </div>
                  </ion-text>
              </ion-item>
            </ion-list>
          </div>
          <div *ngSwitchCase="'listorder'">
            <div *ngIf="list_order?.length > 0">
              <ion-list lines="none" style="background-color: white;">
                <ion-item style="--background: white;" class="text-muted">
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <h2>List Order</h2>
                    </ion-text>
                    <ion-text *ngFor="let order of list_order">
                      <ion-card-subtitle style="position: absolute; color:#b1b1b1">{{order.name}} x {{order.qty}}</ion-card-subtitle>
                      <ion-card-subtitle style="color:#b1b1b1" class="ion-text-end">{{order.subtotal | currency:'Rp. ':'IDR'}}</ion-card-subtitle>
                    </ion-text>
                  </ion-label>
                </ion-item>
                <ion-item style="--background: white;">
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <ion-card-subtitle style="position: absolute; color:#b1b1b1">Subtotal</ion-card-subtitle>
                      <ion-card-subtitle style="color:#b1b1b1" class="ion-text-end">{{total | currency:'Rp. ':'IDR'}}</ion-card-subtitle>
                    </ion-text>
                  </ion-label>
                </ion-item>
                <ion-item style="--background: white;">
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <ion-card-subtitle style="position: absolute; color:#b1b1b1">To:</ion-card-subtitle>
                      <ion-card-subtitle style="color:#b1b1b1" class="ion-text-end">Mr. Osborn</ion-card-subtitle>
                      <ion-card-subtitle style="position: absolute; color:#b1b1b1">Address:</ion-card-subtitle>
                      <ion-card-subtitle style="color:#b1b1b1" class="ion-text-end">11083 Parkside Hills Mall</ion-card-subtitle>
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-card-subtitle>{{description}}</ion-card-subtitle>
            </div>
            <div *ngIf="list_order?.length === 0">
              <p style="text-align: center;">Your order is still empty</p>
            </div>
          </div>
        </div>
  
    <!--<ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-thumbnail><img src="/assets/img/{{images}}" ></ion-thumbnail></ion-col>
      </ion-row>
    </ion-grid>
  -->
  </ion-card-content>
  </ion-card>
  </ion-content>
  
<ion-footer *ngIf="list_order.length > 0 && foodNavDetail == 'listorder'">
    <!-- <ion-toolbar transparent [ngSwitch]="foodNavDetail">
      <button *ngSwitchCase="'listorder'" ion-button full (click)="purchase()">Purchase</button>
    </ion-toolbar>
  </ion-footer> -->
  <ion-toolbar color="primary">
		<ion-title (click)="purchase()" style="font-size: 14px;text-align: center;">Purchase</ion-title>
	</ion-toolbar>
</ion-footer>
  