<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Emergency Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="background-color: white; text-align: center;">
		<ion-card-content (click)="showMyLocation()">
			<img src="https://i0.wp.com/jeasprc.org/wp-content/uploads/2012/05/PanicButton2.png?fit=256%2C256">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</ion-card-content>
	</ion-card>
</ion-content>
