<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Parcel</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let parcel of parcelList" style="background-color: white;">
      <ion-card-header>
        {{parcel.title}}
      </ion-card-header>
      <ion-card-content>
        {{parcel.description}}
      </ion-card-content>
  
      <ion-row>
        <ion-col>
          <ion-note style="margin-left: 10px;">
            <ion-icon name="calendar"></ion-icon>
            {{'2018-09-14 12:34:21' | date:'dd MMM yy, H:mm:ss'}}
          </ion-note>
        </ion-col>
        <ion-col class="ion-text-end">
          <button ion-button color="primary" clear small icon-end>
            <ion-icon name="cube" color="primary"></ion-icon>
          </button>
        </ion-col>
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-card>
    <div *ngIf="parcelList?.length === 0" class="center-messages">
        <button ion-button color="primary" clear small icon-end>No Parcel available</button>
      </div>
  </ion-content>
  
