<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-circle" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Service</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="scroll-content">
     <ion-card style="background-color: white;">
      <form class="list-form" [formGroup]="serviceForm" (ngSubmit)="disputeProcess()">
        <ion-grid class="form-grid">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label color="secondary" stacked>Order Service Form</ion-label>
            </ion-col>
            <ion-col size="12" class="ion-text-left col-input">
              	<ion-label color="primary" stacked>Service Store</ion-label>
                <ion-input type="text" readonly placeholder="messages to" value="{{goods_name}}"></ion-input>
            </ion-col>
            <ion-col size="12" class="ion-text-left col-input">
                <ion-label color="primary" stacked>Start Date</ion-label>
                <ion-datetime displayFormat="DD/MMM/YYYY HH:mm" doneText="Select" formControlName="date_start"></ion-datetime>
                <sub style="margin-left: 10px; color:red;" *ngIf="f.date_start.errors && f.date_start.errors.required" ion-text color="danger" padding>
                  <label *ngIf="f.date_start.errors.required"> Please insert Start Date.</label>
                </sub>
            </ion-col>
            <ion-col size="12" class="ion-text-left col-input">
                <ion-label color="primary" stacked>Notes</ion-label>
                <ion-textarea type="text" placeholder="Please input notes here" formControlName="notes"></ion-textarea>
                <sub style="margin-left: 10px; color:red;" *ngIf="f.notes.errors && f.notes.errors.required" ion-text color="danger" padding>
                  <label *ngIf="f.notes.errors.required"> Please input Notes.</label>
                </sub>
            </ion-col>
            <!-- <ion-col size="12" class="ion-text-left col-input">
              <button ion-button full [disabled]="serviceForm.invalid" >Submit</button>
            </ion-col> -->
            <ion-col size="12">
              <ion-button color="primary" expand="full" type="submit" [disabled]="serviceForm.invalid">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
     </ion-card>
   </div>
 </div>
</ion-content>