.image-slider {
    // height: 200px;
    // width: 340px;
    min-height: 248px;
}

.text-slider {
    text-align: left; 
    background-color: rgba(255, 0, 0, 0.3); 
    padding-bottom: 10px; 
    padding-left:10px;
    min-height: 70px; 
    margin-top:-75px;
}

.card-background-page {
    .card-details {
        bottom: 22px;
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    ion-col {
        padding: 3px;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    .panic-button {
        height:100px;
        max-height: auto;
    }
    .card-bg {
        background-color: #F7F7F7;
    }

    .card-ios {
        margin: 1px;
        border-radius: 2px;
        width: 97%;
    }

}

.custom-card {
    ion-card {
        width: 100%;
        margin: 0px;
    }
    .card-ios {
        margin: -3px;
        border-radius: 2px;
        width: auto;
        -webkit-box-shadow: 0 0px 3px -1px;
        box-shadow: 0px 0px 2px 0px;
        background: #F7F7F7;
        border-radius: 5px;
    }
}