<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-background-page">
		<div class="scroll-content">
      <ion-card style="box-shadow: none !important;">
        <ion-slides>
          <ion-slide *ngFor="let slide of slider">
            <div class="slide">
              <img [src]="slide.url" class="image-slider"/>
              <div class="text-slider">
                  <ion-card-title style="color: white;">Madison, WI</ion-card-title>
                <ion-card-subtitle style="color: white;">is simply dummy text of the printing and typesetting industry.</ion-card-subtitle>
              </div>
            </div>
          </ion-slide> 
        </ion-slides>
      </ion-card>
      <ion-card class="card-bg" (click)="PanicButton()" style="margin-top:-5px;">
				<ion-img class="pannic-button" [src]="'/assets/img/panic-button.jpg'" ></ion-img>
      </ion-card>
      <div style="margin-top: -5px;">
				<ion-grid>
					<ion-row *ngFor="let menu of menus">
						<ion-col size="3" *ngFor="let m_key of menu.col" (click)="goToPage(m_key.page)">
							<div class="card-background-page custom-card" *ngIf="m_key.img!==''">
								<ion-card class="card-bg">
									<img [src]="'assets/buttons/'+m_key.img" style="width:100%">
								</ion-card>
							</div>
							<div class="card-background-page custom-card" *ngIf="m_key.img===''" [innerHtml]="m_key.title"></div>
						</ion-col>
					</ion-row>
        </ion-grid>
			</div>
		</div>
	</div>
</ion-content>
