<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Facility Payment</ion-title>
    </ion-toolbar>
    <ion-segment color="secondary" style="background-color: white;" [(ngModel)]="facilityPayment">
      <ion-segment-button value="outstanding">
        <ion-label>Outstanding</ion-label>
      </ion-segment-button>
      <ion-segment-button value="paid">
        <ion-label>Paid</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>

  <ion-content>
    <div [ngSwitch]="facilityPayment">
      <div *ngSwitchCase="'outstanding'">
        <ion-card *ngFor="let out of outstandinglist" style="background-color: white;">
          <ion-card-header>
            Invoice : {{out.invoice_no}}
              <small *ngIf="out.status == 0" color="primary"> (Waiting for confirmation)</small>
              <small *ngIf="out.status == 1" color="primary"> (Confirmation on checking)</small>
              <small *ngIf="out.status == 3" color="primary"> (Payment Invalid)</small>
          </ion-card-header>
          <ion-card-content>
            <sub>
              {{out.invoice_name}}
            </sub>
          </ion-card-content>
  
          <ion-row>
            <ion-col padding size="6">
              <ion-note style="margin-right:10px; margin-left: 10px;">
                <sub>
                  <ion-icon name="calendar"></ion-icon>
                  {{out.date | date:'d MMM, y, h:mm a'}}
                </sub>
              </ion-note>
            </ion-col>

            <ion-col class="ion-text-right" size="6">
              <button (click)="viewinvoice(out.invoice_id)" ion-button color="primary" clear small icon-end>
                <ion-icon name="search-outline" color="primary"></ion-icon>
              </button>
              <button *ngIf="out.status == 0 || out.status == 3" (click)="payment(out.id)" ion-button color="primary" clear small
                icon-end>
                <ion-icon name="cloud-upload" color="primary"></ion-icon>
              </button>
            </ion-col>
            <ion-col class="ion-text-right" size="6"></ion-col>
          </ion-row>
        </ion-card>
        <div *ngIf="outstandinglist?.length === 0" class="center-messages">
          <button ion-button color="primary" clear small icon-end>No Outstanding Payment available</button>
        </div>
      </div>
      <ion-list *ngSwitchCase="'paid'">
        <ion-card *ngFor="let p of paidlist" style="background-color: white;">
          <ion-card-header>
            Invoice : {{p.invoice_no}}
          </ion-card-header>
          <ion-card-content>
            <sub>{{p.invoice_name}}</sub>
          </ion-card-content>
          <ion-row>
            <ion-col size="6" style="margin-left: 10px;">
              <ion-note>
                <sub>
                  <ion-icon name="calendar"></ion-icon>
                  {{p.date | date:'d MMM, y, h:mm a'}}
                </sub>
              </ion-note>
            </ion-col>
            <ion-col size="6"></ion-col>
            <!-- <ion-col text-right>
              <button ion-button color="primary" clear small icon-end>
                <ion-icon name="done-all"></ion-icon>
              </button>
            </ion-col> -->
          </ion-row>
        </ion-card>
        <div *ngIf="paidlist?.length === 0" class="center-messages">
          <button ion-button color="primary" clear small icon-end>No Paid Payment available</button>
        </div>
      </ion-list>
    </div>
  </ion-content>
