<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-button (click)="back()">
		  <ion-icon name="arrow-back" color="primary"></ion-icon>
		</ion-button>
	  </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Report</ion-title>
    </ion-toolbar>
    <ion-segment [(ngModel)]="segment" scrollable>
			<ion-segment-button value="complaint">
				Complaint
			</ion-segment-button>
			<ion-segment-button value="incident">
				Incident
			</ion-segment-button>
			<ion-segment-button value="request">
				Request
			</ion-segment-button>
			<ion-segment-button value="suggestion">
				Suggestion
			</ion-segment-button>
			<ion-segment-button value="workorder">
				Work Order
			</ion-segment-button>
		</ion-segment>
  </ion-header>

  <ion-content>
	<div [ngSwitch]="segment">
		<div *ngSwitchCase="'complaint'">
			<ion-card *ngFor="let dc of data.complaint" style="background-color: white;">
				<ion-card-header>
					{{dc.complain_type_name}}
				</ion-card-header>
				<ion-card-content>
					{{dc.messages}}
				</ion-card-content>

				<ion-row>
					<ion-col padding size="6">
						<ion-note style="margin-left:10px;">
							<sub>
								<ion-icon name="calendar"></ion-icon>
								{{ dc.date_inserted | date:'dd MMM yy, H:mm:ss'}}
							</sub>
						</ion-note>
					</ion-col>
					<ion-col style="text-align: right;" size="6">
						<div style="padding: 5px;" clear small icon-end>
							<div class="report_status" style="text-align: right;">
								<sub>
									{{dc.services_status_name}}
								</sub>
							</div>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-card style="width: 80%; margin: 0 auto 10px;" *ngFor="let res of dc.response" color="primary">
						<ion-card-content class="response">
							<p>{{res.messages}}</p>
							<p style="text-align: right;">{{res.responses_by_name}}</p>
							<p style="text-align: right;">
								<sub>
									<ion-icon name="calendar"></ion-icon>
									{{ res.date_inserted | date:'dd MMM yy, H:mm:ss'}}
								</sub>
							</p>
						</ion-card-content>
					</ion-card>
				</ion-row>

			</ion-card>

			<div *ngIf="data.complaint?.length === 0" class="center-messages">
				<button ion-button color="primary" clear small icon-end>No Complaint available</button>
			</div>
		</div>
		<div *ngSwitchCase="'incident'">
			<ion-card *ngFor="let dc of data.incident" style="background-color: white;">
				<ion-card-header>
					{{dc.complain_type_name}}
				</ion-card-header>
				<ion-card-content>
					{{dc.messages}}
				</ion-card-content>

				<ion-row>
					<ion-col padding size="6">
						<ion-note style="margin-left:10px;">
							<sub>
								<ion-icon name="calendar"></ion-icon>
								{{ dc.date_inserted | date:'dd MMM yy, H:mm:ss'}}
							</sub>
						</ion-note>
					</ion-col>
					<ion-col style="text-align: right;" size="6">
						<div style="padding: 5px;" clear small icon-end>
							<div class="report_status" style="text-align: right;">
								{{dc.services_status_name}}
							</div>
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-card style="width: 80%; margin: 0 auto 10px;" *ngFor="let res of dc.response" color="primary">
						<ion-card-content class="response">
							<p>{{res.messages}}</p>
							<p style="text-align: right;">{{res.responses_by_name}}</p>
							<p style="text-align: right;">
								<sub>
									<ion-icon name="calendar"></ion-icon>
									{{ res.date_inserted | date:'dd MMM yy, H:mm:ss'}}
								</sub>
							</p>
						</ion-card-content>
					</ion-card>
				</ion-row>
			</ion-card>
			<div *ngIf="data.incident?.length === 0" class="center-messages">
				<button ion-button color="primary" clear small icon-end>No Incident available</button>
			</div>
		</div>
		<div *ngSwitchCase="'request'">
			<ion-card *ngFor="let dc of data.request" style="background-color: white;">
				<ion-card-header>
					{{dc.complain_type_name}}
				</ion-card-header>
				<ion-card-content>
					{{dc.messages}}
				</ion-card-content>

				<ion-row>
					<ion-col padding size="6">
						<ion-note style="margin-left:10px;">
							<sub>
								<ion-icon name="calendar"></ion-icon>
								{{ dc.date_inserted | date:'dd MMM yy, H:mm:ss'}}
							</sub>
						</ion-note>
					</ion-col>
					<ion-col style="text-align: right;" size="6">
						<div style="padding: 5px;" clear small icon-end>
							<div class="report_status" style="text-align: right;">
								{{dc.services_status_name}}
							</div>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-card style="width: 80%; margin: 0 auto 10px;" *ngFor="let res of dc.response" color="primary">
						<ion-card-content class="response">
							<p>{{res.messages}}</p>
							<p style="text-align: right;">{{res.responses_by_name}}</p>
							<p style="text-align: right;">
								<sub>
									<ion-icon name="calendar"></ion-icon>
									{{ res.date_inserted | date:'dd MMM yy, H:mm:ss'}}
								</sub>
							</p>
						</ion-card-content>
					</ion-card>
				</ion-row>

			</ion-card>
			<div *ngIf="data.request?.length === 0" class="center-messages">
				<button ion-button color="primary" clear small icon-end>No Request available</button>
			</div>
		</div>
		<div *ngSwitchCase="'suggestion'">
			<ion-card *ngFor="let dc of data.suggestion" style="background-color: white;">
				<ion-card-header>
					{{dc.complain_type_name}}
				</ion-card-header>
				<ion-card-content>
					{{dc.messages}}
				</ion-card-content>

				<ion-row>
					<ion-col padding size="6">
						<ion-note style="margin-left:10px;">
							<sub>
								<ion-icon name="calendar"></ion-icon>
								{{ dc.date_inserted | date:'dd MMM yy, H:mm:ss'}}
							</sub>
						</ion-note>
					</ion-col>
					<ion-col style="text-align: right;" size="6">
						<div style="padding: 5px;" clear small icon-end>
							<div class="report_status" style="text-align: right;">
								{{dc.services_status_name}}
							</div>
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-card style="width: 80%; margin: 0 auto 10px;" *ngFor="let res of dc.response" color="primary">
						<ion-card-content class="response">
							<p>{{res.messages}}</p>
							<p style="text-align: right;">{{res.responses_by_name}}</p>
							<p style="text-align: right;">
								<sub>
									<ion-icon name="calendar"></ion-icon>
									{{ res.date_inserted | date:'dd MMM yy, H:mm:ss'}}
								</sub>
							</p>
						</ion-card-content>
					</ion-card>
				</ion-row>
			</ion-card>
			<div *ngIf="data.suggestion?.length === 0" class="center-messages">
				<button ion-button color="primary" clear small icon-end>No Suggestion available</button>
			</div>
		</div>
		<div *ngSwitchCase="'workorder'">
			<ion-card *ngFor="let dc of data.work_order" style="background-color: white;">
				<ion-card-header>
					{{dc.complain_type_name}}
				</ion-card-header>
				<ion-card-content>
					{{dc.messages}}
				</ion-card-content>

				<ion-row>
					<ion-col padding size="6">
						<ion-note style="margin-left:10px;">
							<sub>
								<ion-icon name="calendar"></ion-icon>
								{{ dc.date_inserted | date:'dd MMM yy, H:mm:ss'}}
							</sub>
						</ion-note>
					</ion-col>
					<ion-col style="text-align: right;" size="6">
						<div style="padding: 5px;" clear small icon-end>
							<div class="report_status" style="text-align: right;">
								{{dc.services_status_name}}
							</div>
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-card style="width: 80%; margin: 0 auto 10px;" *ngFor="let res of dc.response" color="primary">
						<ion-card-content class="response">
							<p>{{res.messages}}</p>
							<p style="text-align: right;">{{res.responses_by_name}}</p>
							<p style="text-align: right;">
								<sub>
									<ion-icon name="calendar"></ion-icon>
									{{ res.date_inserted | date:'dd MMM yy, H:mm:ss'}}
								</sub>
							</p>
						</ion-card-content>
					</ion-card>
				</ion-row>
			</ion-card>
			<div *ngIf="data.work_order?.length === 0" class="center-messages">
				<button ion-button color="primary" clear small icon-end>No Work Order available</button>
			</div>
		</div>
	</div>
</ion-content>