<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Dispute</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="scroll-content">
     <ion-card style="background-color: white;">
      <form class="list-form" [formGroup]="disputeForm" (ngSubmit)="disputeProcess()">
        <ion-grid class="form-grid">
          <ion-row>
            <ion-col class="col" size="12" class="ion-text-center">
              <ion-label color="secondary" stacked>Dispute Form</ion-label>
            </ion-col>
            <ion-col class="col" size="12" class="ion-text-start">
              	<ion-label color="primary" stacked>Select Dispute</ion-label>                
                <ion-select class="text-black" formControlName="type" placeholder="dispute type">
                  <ion-select-option *ngFor="let dispute of dispute_type" [value]="dispute.id">{{dispute.name}}</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col class="col" size="12" class="ion-text-start">
                <ion-label color="primary" stacked>Description</ion-label>
        		<ion-textarea type="text" placeholder="Description" formControlName="description"></ion-textarea>
            </ion-col>
            <ion-col size="12">
              <ion-button color="primary" expand="full" type="submit" [disabled]="disputeForm.invalid">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
     </ion-card>
   </div>
 </div>
</ion-content>