<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">{{title}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <div class="scroll-content">
      <ion-card class="card-bg" style="box-shadow: none !important;">
        <img [src]="image" style="width: 100%;">
      </ion-card>
    </div>
  </div>
</ion-content>
