<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
	</ion-buttons>
	<ion-buttons slot="end">
		<ion-button (click)="home()">
		  <ion-icon name="home" color="secondary"></ion-icon>
		</ion-button>
	  </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let store of listStore">
      <ion-col size="12">
        <div class="list-food">
          <ion-card style="padding: 0;margin:0px; background-color: #F7F7F7;height: 110px;" (click)="goToPage('food-detail', store)">
            <ion-grid>
				<ion-row>
					<ion-col size="3"><img height="90" width="90" :src="{{store.images}}"></ion-col>
					<ion-col size="9" style="text-align: center;margin-top: -5px;">
						<p>{{store.description}}</p>
					</ion-col>
				</ion-row>
			</ion-grid>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid>
		<ion-row *ngFor="let store of listStore">
			<ion-col size="12">
				<div class="list-food">
					<ion-card class="card-bg" (click)="goToPage('FoodDetailPage', store)">
						<ion-grid>
							<ion-row>
								<ion-col size="3"><img height="90" width="90" :src="{{store.images}}"></ion-col>
								<ion-col size="9">
									<p>{{store.description}}</p>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card>
				</div>
			</ion-col>
		</ion-row>
		<div *ngIf="listStore?.length === 0" class="center-messages">
	        <button ion-button color="primary" clear small icon-end>No Food available</button>
	      </div>
	</ion-grid> -->
</ion-content>