<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Tenants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="scroll-content" style="margin-top: 5px;">
      <ion-card class="card-bg" *ngFor="let slide of slider" (click)="show(slide.description, slide.image_full)" style="box-shadow: none !important;">
        <img *ngIf="slide.description === 'Panic Button'" (click)="PanicButton()" [src]="slide.image">
        <img *ngIf="slide.description !== 'Panic Button'" [src]="slide.image">
        <div class="card-title"></div>
        <div class="card-subtitle"></div>
      </ion-card>
      <div *ngIf="slider?.length === 0" class="center-messages">
        <button ion-button color="primary" clear small icon-end>Not tenant advertisement available</button>
      </div>
    </div>
  </div>
</ion-content>