<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Goods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let store of listStore">
      <ion-col col-12>
        <div class="list-food">
          <ion-card class="card-bg" style="padding: 0;margin:0px; background-color: #F7F7F7;height: 110px;" (click)="order(store.id,store.name)">
            <ion-grid>
              <ion-row>
                <ion-col col-3><img height="80" src="{{store.images}}"></ion-col>
                <ion-col col-9>
                  <p>{{store.description}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="listStore?.length === 0" class="center-messages">
          <button ion-button color="primary" clear small icon-end>Not Goods available</button>
        </div>
  </ion-grid>
</ion-content>
