<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Facility Order</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <div class="card-background-page">
      <div class="scroll-content">
       <ion-card style="background-color: white;">
        <form class="list-form" [formGroup]="orderForm" (ngSubmit)="submitForm()">
          <ion-grid class="form-grid">
            <ion-row>
              <ion-col size="12" class="ion-text-center" >
                <ion-label color="secondary" stacked>Facility Order Form</ion-label>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input" >
                <ion-label color="primary" stacked>Date</ion-label>
                <ion-datetime displayFormat="DD/MMM/YYYY HH:mm" doneText="Order" formControlName="date"></ion-datetime>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input" >
                   <ion-label color="primary" stacked>Choose Facility</ion-label>
                   <ion-select formControlName="facility">
                    <ion-select-option *ngFor="let facility of facilities" value="{{facility.id}}">{{facility.name}}</ion-select-option>
                  </ion-select>
              </ion-col>
              <ion-col size="12">
                <ion-button color="primary" expand="full" type="submit" [disabled]="orderForm.invalid">
                  Order
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
       </ion-card>
     </div>
   </div>
  </ion-content>
  