/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./assets/animate/animate.scss";

ion-content{
    --ion-background-color:#e2e1dd;
}

.app-content-bg {
    --background: url("./assets/img/bg2.png")0 0/100% 100% no-repeat;
    text-align: center;
}

.toolbar-transparent {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.logo {
    height: 150px;
    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.app-form{
    background: rgba(255, 255, 255, .45);
    border-radius: 5px;

    .kolom-input {
        --background: transparent;
    }

    input::-webkit-input-placeholder {
        color: #4d4c4b;
        font-size: 1.0rem;
    }
    input:-moz-placeholder {
        color: #4d4c4b;
        font-size: 1.0rem;
    }
}

ion-content {
    left: 0;
    top: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    contain: layout size style;
}
  
  a {
    color: #c33455;
  }

  .card-bg {
    background-color: #F7F7F7;
}


.card-background-page {
    .card-details {
        bottom: 22px;
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    .panic-button {
        height:100px;
        max-height: auto;
    }
    .card-bg {
        background-color: #F7F7F7;
    }

    .card-ios {
        margin: 6px;
        border-radius: 2px;
        width: 97%;
    }

}

.custom-card {
    ion-card {
        width: 100%;
        margin: 0px;
    }
    .card-ios {
        margin: -3px;
        border-radius: 2px;
        width: auto;
        -webkit-box-shadow: 0 0px 3px -1px;
        box-shadow: 0px 0px 2px 0px;
        background: #F7F7F7;
        border-radius: 5px;
    }
}

.empty-notice {
    position: absolute;
    width: 125px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}

.col-input {
    margin-top:10px;
}

.animateApp{
    .form-content{
        @include fadeInUp(
            $duration: 1.5s,
            $delay: .85s
        ); 
    }
    ion-fab{
        @include zoomIn(
            $duration: 1.5s,
            $delay: .5s
        );
    }
}