<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Emergency Repsponse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let res of response" style="background-color: white;">
		<ion-card-header>
			<h4 style="color:#c33455"><strong>{{res.title}}</strong></h4>
		</ion-card-header>
		<ion-card-content>
			<sub>
				{{res.report}}
			</sub>
			<br/>
		</ion-card-content>
		<ion-row>
			<ion-col size="12" class="ion-text-end">
				<ion-note style="margin-right:10px;">
					<button ion-button small clear (click)="show(res.id)">
						<ion-card-subtitle color="primary">
							View response
							<ion-badge>{{res.response?.length}}</ion-badge>
						</ion-card-subtitle>
					</button>
				</ion-note>
			</ion-col>
			<ion-col size="12" *ngIf="viewResponse[res.id]">
				<ion-card *ngFor="let re of res.response" color="primary">
					<ion-card-content class="response">
						<p><small>{{re.response}}</small></p>
						<p style="text-align: left;"><small>By {{re.name}}</small></p>
						<p style="text-align: right;"><small>{{re.date_inserted | date:'dd MMM yy, H:mm:ss'}}</small></p>
					</ion-card-content>
				</ion-card>

				<ion-card *ngIf="res.response?.length === 0" color="primary">
					<ion-card-content class="response">
						<p>No response available for a while</p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="6">
				<ion-note style="margin-left:10px;">
					<sub>
						<ion-icon name="calendar"></ion-icon>
						{{ res.date_inserted | date:'dd MMM yy, H:mm:ss'}}
					</sub>
				</ion-note>
			</ion-col>
			<ion-col class="ion-text-end" size="6">
				<small style="color: grey;">{{res.name}}</small>
      </ion-col>
      <ion-col size="12"></ion-col>
		</ion-row>
	</ion-card>
	<div *ngIf="response?.length === 0" class="center-messages">
		<button ion-button color="primary" clear small icon-end>No Response available</button>
	</div>
</ion-content>
