<ion-content [fullscreen]='true' class="app-content-bg">
  <div class="logo">
    <img src="assets/img/ntc-logo.png" width="110px" style="margin-top:35px;margin-left: 20px;" class="left"/>
    <img src="assets/img/waskita.png" width="108px" style="margin:15px;" class="right"/>
  </div>
</ion-content>

<ion-footer>
	<ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
    <ion-fab-button (click)="goTo('register')">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
	<ion-toolbar color="secondary">
		<ion-title (click)="goTo('login')" style="font-size: 14px;text-align: center;">Have an Account ?? LOGIN</ion-title>
	</ion-toolbar>
</ion-footer>