<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
	  </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Public</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let annoucement of publicAnnouncement" style="background-color: white;">
      <ion-card-header>
        <strong>{{annoucement.title}}</strong>
      </ion-card-header>
      <ion-card-content>
        {{annoucement.description}}
  
      </ion-card-content>
  
      <ion-row>
        <ion-col padding>
          <ion-note style="margin-left: 10px; color:#b8b8b8;">
            <ion-icon name="calendar"></ion-icon>
            {{annoucement.inserted_date | date:'dd MMM yy, H:mm:ss'}}
          </ion-note>
        </ion-col>
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-card>
    <div *ngIf="govermentAnnouncement?.length === 0" class="center-messages">
        <ion-card-subtitle color="primary" class="ion-text-center" class="empty-notice">No public announcement available</ion-card-subtitle>
      </div>
  </ion-content>


