<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -10px;" color="secondary">Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="scroll-content">
      <ion-card style="background-color: white;">
        <form class="list-form" [formGroup]="registerForm" (ngSubmit)="registerTenant()">
          <ion-grid class="form-grid">
            <ion-row>
              <ion-col size="12" style="margin-bottom: 10px;margin-top: 10px;">
                <ion-label style="font-size: small;" class="ion-text-center" color="secondary" position="stacked">Your Information Registration Form</ion-label>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" position="stacked">IPL Number</ion-label>
                <ion-input type="text" placeholder="Type your name here" formControlName="username" readonly="true"></ion-input>
                <small style="color: red; margin-left: 10px;" *ngIf="registerForm.controls.username.errors">Please Input IPL Number<br/></small> 
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" position="stacked">Name</ion-label>
                <ion-input type="text" placeholder="Type your name here" formControlName="name"></ion-input>
                <small style="color: red; margin-left: 10px;" *ngIf="registerForm.controls.name.errors">Please Input Name<br/></small>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" stacked>Email</ion-label>
                <ion-input type="email" placeholder="Type your email here" formControlName="email"></ion-input>
                <small style="color: red; margin-left: 10px;" *ngIf="registerForm.controls.email.errors">Please Input Email<br/></small>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" stacked>Phone</ion-label>
                <ion-input type="tel" placeholder="Type your phone here" formControlName="phone"></ion-input>
                <small style="color: red; margin-left: 10px;" *ngIf="registerForm.controls.phone.errors">Please Input Phone<br/></small>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" stacked>Handphone</ion-label>
                <ion-input type="tel" placeholder="Type your handphone here" formControlName="handphone"></ion-input>
                <small style="color: red; margin-left: 10px;" *ngIf="registerForm.controls.handphone.errors">Please Input Handphone<br/></small>
              </ion-col>
              <ion-col size="12" class="ion-text-start col-input">
                <ion-label color="primary" stacked>Address</ion-label>
                <ion-textarea type="text" placeholder="Type your address here" formControlName="address"></ion-textarea>
                <small style="color: red; margin-left: 10px;" *ngIf="registerForm.controls.address.errors">Please Input Address<br/></small>
              </ion-col>
              <ion-col size="12">
                <ion-button color="primary" expand="full" type="submit" [disabled]="registerForm.invalid">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
